.image-overlay-container {
  position: relative;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 54, 54, 0.5);
  /* Màu của lớp phủ */
}

.overlay-image {
  width: 100%;
  height: auto;
  z-index: 1;
  /* Đặt ảnh lên trên lớp phủ */
}

.overlay img {
  height: 100%;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  text-align: center;
  z-index: 2;
  /* Đặt chữ lên trên lớp phủ */
}

.banner_btn,
.banner_btn {
  border-radius: 5px;
  padding: 5px;
}
.overlay-text p {
  margin-bottom: 10px;
}
