.item_AdminHome{
    width: 23%;
    min-height:150px;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bgr_AdminUser{
    background-color: #5856D6;
}
.bgr_AdminOrder{
    background-color: #3192F3;
}
.bgr_AdminPets{
    background-color: #F9B115;
}
.bgr_AdminIncome{
    background-color: #E55353;
}
.text_AdminHome{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.title_AdminHome{
    color: #fff;
    font-size:17px; 
}
.item_AdminHome:hover{
    cursor: pointer;
}
.title_contentAdminHome{
    margin-top:70px;
    margin-bottom:20px;
}
