.banner_ca {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.brand_container {
  text-align: center;
}

.brand {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Khoảng cách giữa các logo */
  justify-content: center;
}

.brand_logo {
  width: 100px; /* Chiều rộng cố định cho container */
  height: 100px; /* Chiều cao cố định cho container */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Đảm bảo hình ảnh không bị tràn */
}

.brand_logo img {
  width: 100%; /* Đặt chiều rộng 100% để ảnh bao phủ toàn bộ chiều ngang */
  height: 100%; /* Đặt chiều cao 100% */
  object-fit: contain; /* Điều chỉnh để giữ nguyên tỉ lệ của ảnh */
}
.brand_container {
  background-color: #f5f5f5;
  padding: 80px 30px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin: 50px 0;
}

.banner_content {
  background-color: rgba(248, 244, 244, 0.4);
  max-width: 500px;
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 35px;
}

.banner_content p {
  font-size: 56px;
  font-weight: 700;
  max-width: 350px;
  letter-spacing: 5px;
  margin: 10px;
}

.banenr_content_btn {
  width: 180px;
  padding: 10px;
  text-align: center;
  font-size: 21px;
}

.top10thu {
  font-size: 30px;
  font-weight: 600;
  margin-top: 40px;
  margin-left: 50px;
}
@media (max-width: 1068px) {
  .banner_content {
    top: 50%;
    left: 50%;
  }
  .top10thu {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .banner_btn {
    border-radius: 5px;
    padding: 0px;
  }
  .RowHome {
    padding-left: 0px !important;
  }
  .banner_ca {
    padding: 10px;
  }
  .banner_btn a {
    font-size: 9px;
  }
  .overlay-text p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .overlay-text {
    font-size: 16px !important;
  }
}
